.carousel-inner {
    width: 700px;
    margin: auto;
    min-width: 60%;
    max-height: 50%;
}
.display-1{
    color: rgb(255, 255, 255) !important; /* Untuk mengubah warna navbar bran dan nav-link */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Untuk memberikan efek shadow pada text */
}
.img-fluid{
    margin-left: 10px;
}

.col-sm {
    margin-top: 50px;
}
.card {
    height: 350px;
}
.card:hover {
    box-shadow: 3px 3px 30px 3px rgba(106, 6, 238, 0.5);
}

.card-img-top {
    min-height: 70%;
}
.card-img-top1{
    min-height: 40%;
}
.navbar-brand {
  font-size: 32px; /* Untuk mengatur font size di navbar brand
}

.nav-link {
  text-transform: uppercase; /* Untuk mengubah semua huruf di navlink menjadi uppercase */
  margin-right: 32px; /* Memberikan jarak ke kanan sebesar 32px pada nav-link*/
}
.navbar-brand, .nav-link {
  color: rgb(255, 255, 255) !important; /* Untuk mengubah warna navbar bran dan nav-link */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Untuk memberikan efek shadow pada text */
}

.nav-link:hover::after {
  content: '';
  display: block;
  border-bottom: 3px solid black;
  width: 40%;
  margin: auto;
  padding-bottom: 3px;
  margin-bottom: -6px;
}

.navbar:hover {
  box-shadow: 3px 3px 30px 3px #3807eb73;
}
.navbar{
    color: rgb(255, 255, 255) !important; /* Untuk mengubah warna navbar bran dan nav-link */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Untuk memberikan efek shadow pada text */
}

#fb {
    width: 130px;
}

#ig {
    width: 100px;
}

.list-group {
    width: 330px;
}

#Gambar1 {
    width: 80px;
    margin-left: 10px;
}

#Gambar1 {
    box-shadow: 3px 3px 30px 3px rgba(6, 60, 238, 0.5);
}

#button {
    height: -50px;
    margin-top: -70px;
    margin-right: 100%;
}
.col-sm-tangan{
    margin: auto;
    margin-left: 80px;
}
.a{
    margin-top: 50px;
    width: 40%;
    margin-left: 250px;
}
.p-3{
    margin-top: 40px;
}
.text{
    color: rgb(255, 255, 255) !important; /* Untuk mengubah warna navbar bran dan nav-link */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Untuk memberikan efek shadow pada text */
}

body{
    font-size: 20px;
    font-family: monospace;
    background-color: pink;
}
#container{
    margin : 20px auto;
   background-color: #2c3e50;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:250px;
    height:50px;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:230px;
    top:50px;
    color : lightgrey;
}
#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}
#qImg{
    width : 200px;
    height : 200px;
    position: absolute;
    left : 0px;
    top : 0px;
}
#qImg img{
    width : 200px;
    height : 200px;
    border-top-left-radius: 5px;
}
#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
    color:#fff;
}
#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px;
    color:#fff;
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}
#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: absolute;
    top:100px;
    left:325px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}